{% extends "ADMIN/admin index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="215" border="1">
    <tr>
      <td width="205" align="center"><a href="view_user">View user</a></td>
    </tr>
    <tr>
      <td align="center"><a href="view_manage_notification">Manage Notification</a></td>
    </tr>
    <tr>
      <td align="center"><a href="view_complaint">View Complaint & Send Replay</a></td>
    </tr>
    <tr>
      <td align="center"><a href="view_feedback">View Rating & Feed back</a></td>
    </tr>
    <tr>
      <td align="center"><a href="/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}